# Pandas - Explorando información de AirBnB

In [1]:
import numpy as np
import pandas as pd

Para evaluar los conocimientos adquiridos sobre la librería de análisis de datos Pandas, vamos a realizar un pequeño ejercicio de análisis exploratorio sobre un set de datos con información sobre AirBnB.

Más concretamente, junto con la práctica se entrega un fichero airbnb.csv que contiene información sobre alojamientos disponibles en AirBnB. Estos datos incluyen, entre otras cosas, información sobre ubicación, precios, reviews, ocupación, etc.
Con este set de datos, deberás preparar un Notebook donde se resuelvan las siguientes cuestiones.

1. Carga del set de datos en una variable llamada “airbnb”

In [2]:
airbnb = pd.read_csv('data/airbnb.csv')
airbnb.head()

,id,name,host_id,host_name,location,area,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

2. Número de observaciones incluidas en el set de datos.

In [3]:
airbnb.shape[0]

48895

3. Listado de variables (y sus tipos) incluidas en el set de datos.

In [4]:
airbnb.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
location                           object
area                               object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

4. Estadísticos básicos sólo de las variables numéricas del set de datos.

In [5]:
airbnb.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

5. Tablas de frecuencia sólo de las variables categóricas del set de dato.

In [6]:
airbnb.location.value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: location, dtype: int64

In [7]:
airbnb.area.value_counts()

Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
                      ...
Woodrow                  1
Willowbrook              1
Rossville                1
Fort Wadsworth           1
Richmondtown             1
Name: area, Length: 221, dtype: int64

In [8]:
airbnb.room_type.value_counts()

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

6. Identificación de variables con missing values y proporción de los mismos.

In [12]:
airbnb.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
location                              0
area                                  0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [13]:
airbnb.isna().sum() / airbnb.count()

id                                0.000000
name                              0.000327
host_id                           0.000000
host_name                         0.000430
location                          0.000000
area                              0.000000
latitude                          0.000000
longitude                         0.000000
room_type                         0.000000
price                             0.000000
minimum_nights                    0.000000
number_of_reviews                 0.000000
last_review                       0.258785
reviews_per_month                 0.258785
calculated_host_listings_count    0.000000
availability_365                  0.000000
dtype: float64

# Pandas - Analizando información de AirBnB

Tras la exploración básica del set de datos del ejercicio anterior, debería ser sencillo obtener insights o conclusiones sobre los costes de los seguros informados.
El objetivo de este ejercicio, será utilizar las diferentes funcionalidades de agrupación y agregación que pone a nuestra disposición el módulo pandas de Python para
responder a un pequeño conjunto de preguntas sobre las ofertas disponibles.

**IMPORTANTE:** los ejercicios se deberán utilizar las funcionalidades de agrupación y agregación de Pandas y NO tablas pivote.
    
El listado de preguntas que se deberá responder es el siguiente:

1. ¿Hay más ofertas de “Private room” o de “Entire home” en el dataset? ¿Cuántos más en porcentaje?

In [14]:
airbnb.shape[0]

48895

In [15]:
private_room_count = airbnb[airbnb.room_type == "Private room"].shape[0]
private_room_count

22326

In [16]:
entire_home_count = airbnb[airbnb.room_type == "Entire home/apt"].shape[0]
entire_home_count

25409

In [17]:
private_room_count/entire_home_count

0.8786650399464757

2. ¿Dónde está localizado el alojamiento más barato? Incluye en la respuesta localización, área y coordenadas.

In [26]:
airbnb[airbnb.price == min(airbnb.price)][['location', 'area', 'latitude', 'longitude']]

        location                area  latitude  longitude
23161   Brooklyn  Bedford-Stuyvesant  40.69023  -73.95428
25433      Bronx     East Morrisania  40.83296  -73.88668
25634   Brooklyn            Bushwick  40.69467  -73.92433
25753   Brooklyn          Greenpoint  40.72462  -73.94072
25778   Brooklyn        Williamsburg  40.70838  -73.94645
25794   Brooklyn  Bedford-Stuyvesant  40.68173  -73.91342
25795   Brooklyn  Bedford-Stuyvesant  40.68279  -73.91170
25796   Brooklyn  Bedford-Stuyvesant  40.68258  -73.91284
26259  Manhattan         Murray Hill  40.75091  -73.97597
26841   Brooklyn            Bushwick  40.69211  -73.90670
26866   Brooklyn            Bushwick  40.69166  -73.90928

3. ¿Cuál es el precio medio de las ofertas de cada área?

In [27]:
grouped_by_area = airbnb.groupby(by='area')
grouped_by_area.price.mean()

area
Allerton            87.595238
Arden Heights       67.250000
Arrochar           115.000000
Arverne            171.779221
Astoria            117.187778
                      ...
Windsor Terrace    138.993631
Woodhaven           67.170455
Woodlawn            60.090909
Woodrow            700.000000
Woodside            85.097872
Name: price, Length: 221, dtype: float64

4. ¿Qué correlación hay entre el precio y el número de reviews?

In [28]:
airbnb.corr()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
id,1.000000,0.588290,-0.003125,0.090908,0.010619,-0.013224,-0.319760,0.291828,0.133272,0.085468
host_id,0.588290,1.000000,0.020224,0.127055,0.015309,-0.017364,-0.140106,0.296417,0.154950,0.203492
latitude,-0.003125,0.020224,1.000000,0.084788,0.033939,0.024869,-0.015389,-0.010142,0.019517,-0.010983
longitude,0.090908,0.127055,0.084788,1.000000,-0.150019,-0.062747,0.059094,0.145948,-0.114713,0.082731
price,0.010619,0.015309,0.033939,-0.150019,1.000000,0.042799,-0.047954,-0.030608,0.057472,0.081829
minimum_nights,-0.013224,-0.017364,0.024869,-0.062747,0.042799,1.000000,-0.080116,-0.121702,0.127960,0.144303
number_of_reviews,-0.319760,-0.140106,-0.015389,0.059094,-0.047954,-0.080116,1.000000,0.549868,-0.072376,0.172028
reviews_per_month,0.291828,0.296417,-0.010142,0.145948,-0.030608,-0.121702,0.549868,1.000000,-0.009421,0.185791
calculated_host_listings_count,0.133272,0.154950,0.019517,-0.114713,0.057472,0.127960,-0.072376,-0.009421,1.000000,0.225701
availability_365,0.085468,0.203492,-0.010983,0.082731,0.081829,0.144303,0.172028,0.185791,0.225701,1.000000

In [29]:
airbnb.corr().loc['price', 'number_of_reviews']

-0.047954226582658625

5. ¿Cuál es el número total de ofertas por tipo y ubicación (location)?

In [12]:
grouped_by_room = airbnb.groupby(by='room_type').count()
grouped_by_room.reset_index()[['room_type', 'id']].rename(columns={'id': 'Count'})

         room_type  Count
0  Entire home/apt  25409
1     Private room  22326
2      Shared room   1160

In [14]:
airbnb['room_type'].value_counts()

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

In [15]:
grouped_by_room = airbnb.groupby(by='location').count()
grouped_by_room.reset_index()[['location', 'id']].rename(columns={'id': 'Count'})

        location  Count
0          Bronx   1091
1       Brooklyn  20104
2      Manhattan  21661
3         Queens   5666
4  Staten Island    373

In [16]:
airbnb['location'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: location, dtype: int64

6. ¿Cuáles son los 15 hosts con mayor número de ofertas disponibles? Incluye en el resultado únicamente el nombre del host y el número de ofertas disponibles.

In [75]:
grouped_by_host = airbnb.groupby(by='host_id')
grouped_by_host

In [76]:
sorted_by_count = grouped_by_host.count().sort_values(by=['id'], ascending=False).reset_index().head(15)[['host_id', 'id']]
sorted_by_count

      host_id   id
0   219517861  327
1   107434423  232
2    30283594  121
3   137358866  103
4    16098958   96
5    12243051   96
6    61391963   91
7    22541573   87
8   200380610   65
9     1475015   52
10    7503643   52
11  120762452   50
12    2856748   49
13  205031545   49
14  190921808   47

In [77]:
pd.merge(sorted_by_count, airbnb[['host_id','host_name']].drop_duplicates(), on=['host_id'], how ='inner')

      host_id   id          host_name
0   219517861  327       Sonder (NYC)
1   107434423  232         Blueground
2    30283594  121               Kara
3   137358866  103             Kazuya
4    16098958   96     Jeremy & Laura
5    12243051   96             Sonder
6    61391963   91  Corporate Housing
7    22541573   87                Ken
8   200380610   65            Pranjal
9     1475015   52               Mike
10    7503643   52               Vida
11  120762452   50            Stanley
12    2856748   49              Ruchi
13  205031545   49         Red Awning
14  190921808   47               John